.registration__wrapper {
    width: 50%;
    padding: 30px;
    border: 1px solid silver;
}

.registration__wrapper form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registration__title {
    margin-bottom: 30px;
}

.registration__label {
    width: 100%;
}

.registration__label:not(:last-child) {
    margin-bottom: 30px;
}

.registration__wrapper form input {
    width: 100%;
    height: 50px;
}

.registration__wrapper form input[type="submit"] {
    width: 50%;
    outline: none;
    border: none;
    padding: 10px;
    background: greenyellow;
    opacity: 0.8;
    border-radius: 3px;
}

.registration{
    margin-top: 50px;
}

.registration__recovery{
    font-weight: lighter;
    font-size: 12px;
    float: right;
    text-transform: initial;
    color: blue;
    letter-spacing: initial;
}
